<div class="container">
  <div class="form-group">
    <h6>SKILL SET
      <button type="button" class="btn btn-secondary btn-sm float-right">
        <i class="fas fa-pen-alt"></i>
      </button>
    </h6>
    <b>Top Skills
    </b>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let skill of skills.top">
        {{skill}}
      </li>
    </ul>
  </div>

  <div class="form-group">
    <h6>EXPERIENCE
      <button type="button" class="btn btn-secondary btn-sm float-right">
        <i class="fas fa-pen-alt"></i>
      </button>
    </h6>
    <div class="col-12" *ngFor="let exp of workExp">
      <b>{{exp.title}}</b>
      <br> {{exp.company}}
      <br> {{exp.from}} - {{exp.to}} ({{exp.period}})
      <hr>
    </div>
  </div>

  <div class="form-group">
    <h6>EDUCATION
      <button type="button" class="btn btn-secondary btn-sm float-right">
        <i class="fas fa-pen-alt"></i>
      </button>
    </h6>
    <div class="col-12" *ngFor="let education of educations">
      <b>{{education.school}}</b>
      <br> {{education.qualif}}, {{education.field}}
      <br> {{education.from}} - {{education.to}}
      <hr>
    </div>
  </div>
</div>